server:
  port: 8083

spring:
 data:
    mongodb:
      uri: mongodb://localhost:27017
      Database: microservices
      
 application:
    name: RATING-SERVICE
eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/